*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  --red: rgb(207,10,10);
  --orange: rgb(220,95,0);
}

/* Utility Classes Start */
.container {
  display: flex;
  flex-direction: row;
}

.column-container {
  display: flex;
  flex-direction: column;
}

.jusitfy-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.col-12 {
  width: 100%;
}

.col-11 {
  width: 91.667%;
}
/* Utility Classes End */

body {
  text-align: center;
}

main > * {
  margin-bottom: 1rem;
}

/* Header Styling */
header {
  border-bottom: 1px solid var(--red);
  margin-bottom: 1rem;
}
/* Header End */


#password-container {
  border: 1px dashed grey;
  font-size: 12px;
  width: 18rem;
  height: 6rem;
}


/* Media Queries Start */

/* screen size 480px - 768px */
@media screen and (min-width: 480px) {
  body {
    background-color: antiquewhite;
  }
}

/* screen size 769px - 1024px */
@media screen and (min-width: 769px) {
  body {
    background-color: blueviolet;
  }
}

/* screen size 1025px - 1440px */
@media screen and (min-width: 1025px) {
  body {
    background-color: red;
  }
}

/* screen size 1441x and greater */
@media screen and (min-width: 1441px) {
  body {
    background-color: blue;
  }
}

/* Media Queries End */