*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: aquamarine;
  text-align: center;
}

/* screen size 480px - 768px */
@media screen and (min-width: 480px) {
  body {
    background-color: antiquewhite;
  }
}

/* screen size 769px - 1024px */
@media screen and (min-width: 769px) {
  body {
    background-color: blueviolet;
  }
}

/* screen size 1025px - 1440px */
@media screen and (min-width: 1025px) {
  body {
    background-color: red;
  }
}

/* screen size 1441x and greater */
@media screen and (min-width: 1441px) {
  body {
    background-color: blue;
  }
}